tart.elec.ac.nz
# Compress responses according to Accept-Encoding headers
encode gzip zstd

# Make HTML file extension optional
try_files {path}.html {path}

# Send API requests to backend
rewrite /viewer /viewer/

reverse_proxy /api/* host.docker.internal:9005

route /viewer/* {
        uri strip_prefix /viewer
        root * /srvviewer
	try_files {path} /
        file_server
}


route /catalog/doc/* {
        uri strip_prefix /catalog/doc
        root * /doc
        file_server
}

route /catalog/* {
        uri strip_prefix /catalog
        reverse_proxy host.docker.internal:8876
}

reverse_proxy /signal/* host.docker.internal:8080
reverse_proxy /tartza/* host.docker.internal:8080
reverse_proxy /rhodes/* host.docker.internal:8080

# Redirect old website to current website

redir /doc /
redir /doc/ /
redir /tart_website /
redir /tart_website/ /

# Serve everything else from the file system
# Templates give static sites some dynamic features
#templates
root * /srv
file_server

